*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
body {
    
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
            width: 100vw;
            height: 100vh;
            margin: auto;
}

h1 {
    font: 'roboto';
    color: rgba(245, 245, 245, 0.651);
    padding: 20px;
    text-align: center;
}

p {

    color: rgb(77, 182, 100);
    font: 18px 'inconsolata';
    position: relative;
    margin-top: auto;
    text-align: center;
    vertical-align: top;

}
.video {

    width: 30%;
                height: fit-content;
                margin-top: 40px;
                padding: 32px 12px;
                transition: .5s ease-in-out;
                cursor: pointer;
   

}

h2 {
    font: 'roboto';
    color: rgba(245, 245, 245, 0.651);
    padding: 20px;
    
    
}

ol {
    color: rgb(20, 1, 37);
    font: 18px 'inconsolata';
    
}

img {

    height:60px;
   
}