@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/1104121.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
    width: 500px;
    height: 500px;
}

h1 {
    font: 24px 'Roboto';
    color: yellowgreen;
}

h2 {
    font: 18px 'Roboto';
    color:teal;
}

button {
    width: 150px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    border: springgreen dotted 2px;
    cursor: pointer;
    } 