*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes shake {
    
    25%{
          
        transform: translate(-20px);
     
    }
     50% {
         opacity: 0;;
     }
    75% {

        transform:translate(20px, 50px);
    }

    
}



button{

   border: none;
   padding: 12px 32px;
   /*transition: .5s ease-in-out;*/
   margin: 100px auto;
   display: block;
   animation-name: shake;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-direction: alternate;



}

/*button:hover {
    
    color: white;
    background-color: red;
   /* transform: scale(1.5,2);*/
   /*transform: skew(20deg);*/
   /*transform: rotate(20deg);*/
   /*transform: translate(20px,-20px);*/
   /*transform-origin: bottom right;*/

} */

@keyframes float {

0% {
    opacity: 0;
}
    50% {
        opacity: 1;
        transform: 
        font
        
        

    }

}