@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 

body{

   background-color: #131313;
   color: white;
}

h1 {
    color: white;
    font-family: 'Roboto', Arial, sans-serif ;
}
.media-picture {
    background-image: url(https://wallpaperaccess.com/full/1104121.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    height: 400px
}
.review-score{
    background-color: #e6bd09 ;
    padding: 12px;
    font-size: 20pt;

}

h2{
    color: steelblue;
}
p{
    color: #bdbdbd;
    font-family: 'Roboto', Arial, sans-serif ;

}

a{
    color: yellow;
}